.App {
  text-align: center;
}

.form-group{
  margin-left: 33%;
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  margin-top: 75px;
}

.navbar {
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 25px;
  border: 1px solid black;
}

.user, .movie {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.oneMovie {
  width: 50%;
  margin-left: 25%;
}

span {
  font-weight: bold;
}

.links {
  width: 40%;
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
}

.links2 {
  width: 60%;
  margin-left: 25%;
  display: flex;
  justify-content: space-around;
}

.links3 {
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
}

.search {
  width: 33%;
  display: flex;
}

.profileBtn {
  display: flex;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  justify-content: space-around;
}